<a href="https://colab.research.google.com/github/joung-jaeeun/py20/blob/master/ch2_code03__py20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch2_code03__py20.ipynb
## py20  (change to your id)
- Dictionary
- Set
- Bool
- Variable

In [2]:
# ch2_07_dictionary.py

print("딕셔너리: 딕셔너리(Dictionary)란?")
# 딕셔너리란 대응 관계를 나타내는 자료형.
# 연관 배열(Associative array) 또는 해시(Hash)
# 딕셔너리는 Key와 Value를 한 쌍으로 갖는 자료형
#
# 기본 딕셔너리의 모습
# {Key1:Value1, Key2:Value2, Key3:Value3, ...}
# Key와 Value의 쌍 여러 개가 { }로 둘러싸여 있다.
# 각각의 요소는 Key : Value 형태로 이루어져 있고 쉼표(,)로 구분
dic = {"name": "pey", "phone": "0119993323", "birth": "1118"}
dic 
# Key는 각각 'name', 'phone', 'birth'
# 각 Key에 해당하는 Value는 'pey', '0119993323', '1118'

딕셔너리: 딕셔너리(Dictionary)란?

{'birth': '1118', 'name': 'pey', 'phone': '0119993323'}

#### 여러 가지 딕셔너리

In [3]:
# 여러 가지 딕셔너리
a = {1: "hi"}
a[1]

'hi'

In [6]:
a = {"a": [1, 2, 3]}  # value에는 복합 자료형도 사용된다.
len(a)
# a[a]  # TypeError
a["a"]

[1, 2, 3]

In [13]:
#
# 딕셔너리 쌍 ,요소 추가하기
#
a = {1: "a"}
print(a)
a[2] = "b"  #2 is not index !!!, 2 is a key
a
a["name"] = "pey"
a
a[3] = [1, 2, 3]
a

{1: 'a'}

{1: 'a', 2: 'b', 3: [1, 2, 3], 'name': 'pey'}

In [14]:
#
# 딕셔너리 쌍 삭제하기
#
del a[1] # 1  is key, 1 is never an index.
a

{2: 'b', 3: [1, 2, 3], 'name': 'pey'}

In [15]:
#
print("딕셔너리: 사용 방법")
d = {"김연아": "피겨스케이팅", "류현진": "야구", "손흥민": "축구", "귀도": "파이썬"}
print(d)
d["손흥민"]

딕셔너리: 사용 방법
{'김연아': '피겨스케이팅', '류현진': '야구', '손흥민': '축구', '귀도': '파이썬'}

'축구'

In [17]:
#
# 딕셔너리에서 Key 사용해 Value 얻기
#
grade = {"pey": 10, "julliet": 99}
grade["pey"], grade["julliet"] 
# 자연스럽게 소괄호 튜플로 묶임.

(10, 99)

In [19]:
#
a = {1: "a", 2: "b"}
a[1]  # 1은 key
#
a = {"a": 1, "b": 2}
a["b"]
a[b] # TypeError

NameError: ignored

In [22]:
#
dic = {"name": "pey", "phone": "0109993323", "birth": "1118"}
dic["birth"], dic["phone"]
#
# 딕셔너리 만들 때 주의할 사항
# 딕셔너리에서 Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면
# 하나를 제외한 나머지 것들이 모두 무시된다
#
a = {1: "a", 1: "b"}
a[1] #마지막에 할당 된 값이 나옴 / 오류 나오지 않았음

'b'

###텍스트 내장 함수들

In [23]:
#
print("딕셔너리: 관련 내장 함수들")
#
# Key 리스트 만들기(keys)
#
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
a.keys()
list(a.keys())
#################################################
# 기본적인 반복(iterate) 구문(예: for문)을 실행
# #################################################
for k in a.keys():
    print(k)

딕셔너리: 관련 내장 함수들

['name', 'phone', 'birth']

In [27]:
#
# Value 리스트 만들기(values)
#
list(a.values()) #값이 세개로 나옴

['pey', '0119993323', '1118']

In [28]:
#
# Key, Value 쌍 얻기(items)
#
a.items()  # Key와 Value의 쌍을 튜플로 묶은 값을 dict_items 객체로 돌려준다.

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [29]:
#
#
# Key: Value 쌍 모두 지우기(clear)
#
a.clear()
a

{}

In [30]:
#
# Key로 Value얻기(get)
#
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
a.get("name")  # a['name']
a.get("phone")  # a['phone']

'0119993323'

In [32]:
print(a["nokey"])  # KeyError

KeyError: ignored

In [33]:
a

{'birth': '1118', 'name': 'pey', 'phone': '0119993323'}

In [36]:
#
# get(x, '디폴트 값')
#
# 딕셔너리 안에 찾으려는 Key 값이 없을 경우
# 미리 정해 둔 디폴트 값을 대신 가져오게 설정.
#
a.get("foo", "bar")
a.get("name", "bar")

'pey'

In [38]:
#
# 해당 Key가 딕셔너리 안에 있는지 조사하기(in)
#
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
"name" in a
"foo" in a

False

# 새 섹션

##set

In [41]:
# ch2_08_set.py

print("집합: 집합(Set)이란?")
# 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형
# 중복된 값을 허용하지 않는다. ***중요!!!!***
#
# set 키워드를 사용해서 집합자료형을 만든다.
#
s1 = set([1, 2, 3])
s1     #  {.....} 중괄호로 둘러 싸여있음  파이썬에서는 중괄호를 이용해 담는 데이터 구조가  두 가지가 있는데 t = 딕셔너리  , t값만 ,를 이용해 담는 구조는 중복을 허용않는 셋이다
s1n = set([1, 2, 3, 2])
s1n
# s1n
s2 = set("Hello") # 헬로는 문자열 데이터  , 문자 에이치, 문자 이....등ㄷ....(중복 허용 하지 않기에)
s2

집합: 집합(Set)이란?

{'H', 'e', 'l', 'o'}

###집합 자료형의 특징

In [47]:
#
# 집합 자료형의 특징
# 1. 중복을 허용하지 않는다.
# 2. 순서가 없다(Unordered).
# *** set 자료형은 순서가 없기(unordered) 때문에 인덱싱으로 값을 얻을 수 없다.
#
s1 = set([1,2,3])
print (s1)
# s1[0] TypeError:'set' object does not support indexing
l1=list(s1)
print(l1)
l1[0]

{1, 2, 3}
[1, 2, 3]

1

In [48]:
#
t1=tuple(s1)
print(t1)
t1[0]

(1, 2, 3)

1

In [57]:
#
# 교집합, 합집합, 차집합 구하기
#
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
# 
# 1. 교집합
#
# s1 & s2.   #공통된 요소들을 뽑음
s1.intersection(s2)
# 
# 2. 합집합
#
s1 | s2 # | = or
# s1.union(s2)
# 
# 3. 차집합
#
s1 - s2
s2 - s1
# s1.difference(s2)
s2.difference(s1)

{7, 8, 9}

### 집합 (set) 관련 내장 함수들

In [58]:
#
print("집합 (set): 관련 내장 함수들")
#
# 값 1개 추가하기(add)
#
s1 = set([1, 2, 3])
s1.add(4)
s1

집합 (set): 관련 내장 함수들

{1, 2, 3, 4}

In [61]:
#
# 값 여러 개 추가하기(update)
#
s1 = set([1, 2, 3])
s1.update([4,5,6])
s1
s1.add(5)
s1 # 셋은 중복된 요소를 허용하지 않으니

{1, 2, 3, 4, 5, 6}

In [62]:
#
# 특정 값 제거하기(remove)
#
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

In [64]:
#################################################셋은 가변형
# frozenset()  # immutable set
#################################################
small_primes = frozenset([2, 3, 5, 7])
bigger_primes = frozenset([5, 7, 11])
small_primes.add(11)  # we cannot add to a frozenset -> AttributeError

# small_primes.remove(2)  # neither we can remove -> AttributeError

# small_primes & bigger_primes  # intersect, union, etc. allowed
# frozenset({5, 7})

AttributeError: ignored

## bool (불) 트루 폴스 개념 만든사람

In [69]:
# ch2_09_bool.py

print("불: 불 자료형이란?")
# 불(bool) 자료형이란 참(True)과 거짓(False)을 나타내는 자료형이다.
# 불 자료형은 다음 2가지 값만을 가질 수 있다.
# True - 참
# False - 거짓
# True나 False는 파이썬의 예약어로 true, false와 같이 사용하지 말고
# 첫 문자를 항상 대문자로 사용해야 한다.
#
a = True
b = False
type(a), type(b) , a, b

불: 불 자료형이란?

(bool, bool, True, False)

In [75]:
#
# 참과 거짓
#
1 == 1
2 > 1
2 < 1
True + 1 # 트루에 기본적으로 할당 돼 있는 값은 1 , 폴스에는 0 할당
False + 1 #print문을 쓰지 않는다면 셀에서 맨 마지막 코드를 출력

1

###자료형의 참과 거짓
-string(문자열)
-list
-tuple
-dictionary
-set
-bool

In [84]:
#
# 자료형의 참과 거짓
#
bool("python")  #문자열 안에 문자 하나가 들어있으면 트루
bool("") #값이 아무것도 없으면 폴스 
bool([1, 2, 3]) 
bool([2, 3])
bool([])
bool(())
bool({})
bool(1)
bool(0) # 폴스 값이 기본적으로 할당 돼 잇으니깐
bool(None)

False

### Quiz

In [85]:
bool (0), bool([0]), bool ((0)), bool((0,)) #(0)== 0
false
true  #(리스트)에 값을 가졌기에
false #(셋) 콤마가 없는 괄호 = 없는 것
true  #(셋) 콤마가 있는 괄호 = 있는 것

NameError: ignored

In [86]:
#
# 불 값을 이용한 코드
#
a = [1, 2, 3, 4] #리스트
#
while a: #와일 리스트에 하나라도 있으면 트루 없으면 폴스
    print(a.pop())

4
3
2
1

In [87]:
#
if []:
    print("참")
else:
    print("거짓")

거짓

In [89]:
############################
#  Representation error
## double precision representation of floating-point numbers
############################
1-0.9
# 0.09999999999999998
1-0.9==.1 #파이썬의 유효자리 구조때문에 폴스
# False

False

In [0]:
#####
import decimal
x=decimal.Decimal(3.14)
y=decimal.Decimal(2.74)
x,y

x*y
# Decimal('8.603600000000001010036498883')
decimal.getcontext().prec=4
x*y
# Decimal('8.604')

### 변수

In [100]:
# ch2_10_variable.py

print("변수: 변수란?")
#
# 변수는 자료(값)을 저장하는 공간이다.
#
a = [1, 2, 3]
print(a)
id(a)  # a 변수가 가리키는 메모리의 주소

변수: 변수란?
[1, 2, 3]

140162437660744

In [99]:
# list
a = [1, 2, 3]
id(a)
b = a
id(a), id(b)
a is b
a[1] = 4
a
a , b
a is b
b = [1, 2, 3]
id(a), id(b)
a is b

False

In [103]:
#
# b 변수를 생성할 때 a 변수의 값을 가져오면서
# a와는 다른 주소를 가리키도록 만들수는 없을까?
# 다음 2가지 방법이 있다.
#
# 1. [:] 이용
#
a = [1, 2, 3]
b = a[:] # b = a 값은 같은데 주소가 달라졌음
id(a), id(b)
a[1] = 4
a, b
#
# 2. copy 모듈 이용
#
a = [1, 2, 3]
from copy import copy #이미 만들어진 내장 코드에서 가져온 코드를 이용해서 
b = copy(a)

b is a, a is b

(False, False)

In [105]:
#
# 변수를 만드는 여러 가지 방법
#
a, b = ("python", "life")
print(a)
print(b)
a, b

python
life

('python', 'life')

In [108]:
[a, b] = ["python", "life"] #리스트 구조
a,b

a = 3
b = 5
a, b = b, a #swap 바뀌게 됨
a,b

(5, 3)