<a href="https://colab.research.google.com/github/joung-jaeeun/py20/blob/master/mid_exam_py20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##파이썬활용 중간고사 풀이

## 문제1.

In [0]:
# 다음 식의 연산 결과는?
a = 5
b = 3
a**b  #**표시는 a**b 처럼 사용햇을 때 a의 b 제곱값을 돌려줌 5의 3제곱 =125

125

##문제2.

In [0]:
#다음 문자열 a에 대하여 슬라이싱을 한 결과는? 
a= "Life is too short, You need Python!"
a[-16:-8] 
 #문자열 슬라이싱은 단어를 뽑아내는 방법
#슬라이싱 기법으로 a[시작 번호 : 끝 번호]를 지정해 그에 해당되는 문자를 뽑아줌
#-가 붙어있으니 뒤에서부터 16~8번째까지 세면 'you need' 나온다,

'You need'

##문제3.

In [0]:
#다음 list a의 인덱싱 결과는?
a = [1,2, (3,4),['a','b',['My' ,'Life', 'Good']]]
a[3][-1][0]
# =마지막 요소의 뒤에 리스트 중 첫번 째 인덱스 값을 구하여라.
# 세 번째 요소인 리스트 ['a','b',['My' ,'Life', 'Good']] 에서 마지막 리스트 ['My' ,'Life', 'Good'] 의 첫 번째 인덱스 값 : 'My'

'My'

##문제4.

In [0]:
# 다음 tuple t1의 슬라이싱 결과는?
t1= (0,1,"s", "t", "u")
t1 [2:-2]
#튜플은 단지 1개의 요소만을 가질 때는 요소뒤에 반드시  ( ,) 표시를 붙여햐 함.
#앞에서 두 번째인 s부터 뒤에서 부터 2번째 앞 까지 나타내면 ('s',) 가 답이 된다.

('s',)

##문제5

In [0]:
#다음 bool값 출력 중 정확한 것은?
bool ([0,1,2]), bool([0]), bool ((0)),  bool ((0,))
#bool 자료형 = 참과 거짓을 나타내는 자료형
# bool ([0,1,2]), bool([0]), = 리스트 안의 값은 True
# bool ((0)) ,bool ((0,)) = 튜플 소괄호에 0만 있으면 숫자 값이 0이기에 값 0 = False

(True, True, False, True)

##문제6.

In [0]:
#다음 조건문을 1줄 코드로 변경하시오.
score = 80
if score >= 60:
  message = "success"
  else:
    message = "failure"

    답 : message ="success" if score >= 60 else "failure" 


    #코드 해석 = 만약 점수가 60점 이상이면 "success" 라는 메세지를 나타내고 , 그 밖이면 "failure"라는 메세지를 나타내라.
    # ' 파이썬의 조건부 표현식' (단축코드)을 이용하여 1줄 코드로 변경하면 message ="success" if score >= 60 else "failure" 
    # '파이썬 조건부 표현식' : (조건문이 참인 경우 if 조건문 else 조건문이 거짓인 경우)---->이렇게 나타냄

##문제7.

In [0]:
#다음 코드의 실행 결과는?
games = ["A", "B", "C"]

for cnt in range(len(games)):
  print(cnt, games[cnt], end=',')
  #print문은 여러 항목들을 (,)로 구별 할 때 각 항목들 사이에 1스페이스만큼 떨어지고 줄 바꾸기 전에 end 에 문자열이 들어있으면 줄 바꾸지 x
  # 그 end 속성에는 (,) 있으니 결과물 : 0 A,1 B,2 C,

0 A,1 B,2 C,

##문제8.

In [0]:
#다음의 결과가 출력되지 않는 것은?  'I ate 10 apples. so I was sick for three days'
# code start
number = 10
day = "three"

결과값 O 

"I ate {0} apples. so I was  sick for {1} days." .format(10, day) 
#2개 이상의 값 넣기 : 2개 이상의 값을 넣을 경우 문자열의 {0}, {1} 과 같은 인덱스 항목이 format 함수의 입력값으로 순서에 맞게 바뀜.
#{0}자리에 숫자를 바로 대입 :10 출력 , {1}자리에 문자열 바로 대입 : three출력
f"I ate {number} apples. so I was sick for {three} days"
 #{number} 자리에 숫자값을 가진 변수로 대입 : 10 출력, {three} 자리에 문자열 바로 대입 : three출력
f"I ate {number} apples. so I was sick for {day} days" 
#{number} 자리에 숫자값을 가진 변수로 대입 : 10 출력, {day} 자리에 문자열 바로 대입 : three출력



결과값 X


"I ate {0} apples. so I was sick for {1} days".format(number=10,day)
#number=10 ---->같은 경우는 {0}, {1}과 같이 값을 넣어 사용할 때가 아닌 이름으로 넣을 때 사용되어야 함
#number=10 ---> number 로 바꿔줘야 함. ---->1번 방법
#또는
#{0}대신 {number}를, {1}대신, {day}를 넣고 뒤의 (day)대신 (day="three")로 바꿔줘야 결과값 출력 가능----> 2번 방법

In [0]:
#바르게 했을 경우
# 1번 방법
number = 10
day = "three"

"I ate {0} apples. so I was sick for {1} days".format(number,day)

'I ate 10 apples. so I was sick for three days'

In [0]:
#2번 방법
number = 10
day = "three"

"I ate {number} apples. so I was sick for {day} days".format(number=10,day= "three")

'I ate 10 apples. so I was sick for three days'

##문제9.

In [0]:
#리스트 내포를 이용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한 줄 코드를 작성하라.

5 + 10 +15+20.....
.......+955 + 96- +965 + 970....
975 + ....+ 995 + 1000 = ?


sum([num for num in range(1,1001) if num % 5==0])
#1부터 1000까지 중 5의 배수라면 리스트 안에 다 집어놓고 sum 을 해주면 각 리스트의 항목이 다 더해짐.
#(1,1001)----> 1부터 1000까지
#range = 입력 받은 숫자에 해당하는 범위값을 반복 가능한 객채로 돌려줌

##문제10.

In [0]:
#4개 과목의 평균 성적을 구하시오. [a],[b]에 적절한 코드는?
subject = ['python', 'english','math','science']
scores = [88,77,66,95]
total = 0

for subject, score in [a],________(subjects,scores):
  total += score
  print(subject,score)
  print("평균점수 = {0}".format([b].__________________))


  zip, total/len(subjects)
  #zip = 동일한 개수로 이루어진 자료형을 묶어주는 역할.
  #과목과 점수를 묶음.
  #len = 입력값의 길이를 돌려주는 역할.